<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" href="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/css/tabler.min.css">

<style>
    body{
        height: 100%;
    }

    .pointer-click{
        cursor: pointer;
    }

</style>

<html>
    <body class="antialiased">
        <div id="app" class="wrapper">
            <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <nav-bar  v-bind:user="user" v-bind:views="views"></nav-bar>
                </div>
            </aside>
            <div class="page-wrapper">
                <div class="page-body">
                    <div class="d-flex h-100 justify-content-center align-items-center">
                        <users-list v-if="targetUser == null && user.is_superuser && currentView.id > 0"></users-list>

                        <keep-alive>
                            <div class="row row-deck row-cards w-100" v-if="currentView.id == 1 && targetUser != null">
                                <div class="col-md-12" v-if="user.is_superuser">
                                    <voltar></voltar>
                                </div>
                                <eyes-view v-for="view in currentView.views" v-bind:target-user="targetUser" v-bind:key="view.id" v-bind:view="view"></eyes-view>
                                <!-- <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header align-bottom">
                                            <h1>Teste</h1>
                                        </div>
                                        <div class="card-body">
                                                <div class="row row-deck row-cards">
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <donut v-bind:user="user" v-bind:id="1" v-bind:target-user="targetUser"></donut>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <tabela v-bind:id="1" v-bind:target-user="targetUser"></tabela>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                        </div>
                                        <div class="card-footer">
                                            <span class="card-title">teste</span>
                                            <span class="card-subtitle">{{getDescription(1)}}</span>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-header align-bottom">
                                            <h1>Teste</h1>
                                        </div>
                                        <div class="card-body">
                                                <div class="row row-deck row-cards">
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <donut v-bind:user="user" v-bind:id="2" v-bind:target-user="targetUser"></donut>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <tabela v-bind:id="2" v-bind:target-user="targetUser"></tabela>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                
                                        </div>
                                        <div class="card-footer">
                                            <span class="card-title">teste</span>
                                            <span class="card-subtitle">{{getDescription(2)}}</span>
                                        </div>
                                    </div>
                                     -->
                                </div>
                            </div>
                        </keep-alive>

                        <keep-alive>    
                            <div class="row row-deck row-cards w-100" v-if="currentView == 2 && targetUser != null">
                                <div class="col-md-12" v-if="user.is_superuser">
                                    <voltar></voltar>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header align-bottom">
                                            <h1>Tabela</h1>
                                        </div>
                                        <div class="card-body">
                                            <tabela v-bind:id="2" v-bind:target-user="targetUser"></tabela>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header align-bottom">
                                            <h1>Donut</h1>
                                        </div>
                                        <div class="card-body">
                                            <donut v-bind:user="user" v-bind:id="2" v-bind:target-user="targetUser"></donut>
                                        </div>
                                        <div class="card-footer">
                                            {{getDescription(2)}}
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </keep-alive>    


                    </div>
                </div>
            </div>
        </div>
    </body>
        
</html>

<!-- Tabler, Vue and ApexCharts -->
<script src="https://unpkg.com/@tabler/core@1.0.0-beta3/dist/js/tabler.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<!-- Javascript Classes -->
<script src="classes/Token.js"></script>
<script src="classes/Session.js"></script>
<script src="classes/Views.js"></script>

<!-- Vue Components -->
<script src="vue_components_js/navbar.js"></script>
<script src="vue_components_js/tabela.js"></script>
<script src="vue_components_js/donut.js"></script>
<script src="vue_components_js/users_list.js"></script>
<script src="vue_components_js/botao_voltar.js"></script>
<script src="vue_components_js/eye_view.js"></script>

<!-- Charts -->
<script src="./charts/donut.js"></script>

<script>

    let homeTemplate;
    let navTemplate;
    const views = new Views()
    const session = new Session('https://sbcb.inf.ufrgs.br/forense/api/v1/');

    home = Vue.component("page-content", {
        props : ['view', 'user', 'idView'],
        template: "#page-content"
    })


    let donut = null;

    session.collectToken()
        .then( userData => {
            Vue.prototype.$user = userData
            
            appTemplate = new Vue({
                el: "#app",
                data: {
                    views: [],
                    user: userData,
                    targetUser: null,
                    currentView: [],
                    view_1: {},
                    view_2: {}
                },
                methods: {
                    setView: async function(id){
                        this.currentView = {
                            'id': id,
                            'views': [
                                {'id': 1},
                                {'id': 2}
                            ]
                        }
                    },
                    fetchView: async function(targetUser){
                        let views = [
                            {
                                url: this.getViewUrl(1, targetUser), 
                                prediction: [], 
                                snps: [],
                                class: '' 
                            },
                            {
                                url: this.getViewUrl(2, targetUser), 
                                prediction: [], 
                                snps: [],
                                class: '' 
                            }
                        ]

                        views.forEach(async (d) => {
                            const resp = await session.getRequest(d.url)

                            const data = await resp.json()

                            d.prediction = data.prediction
                            d.snps = data.snps.map( snp => {
                                    snp['url_gene'] = "https://www.genecards.org/cgi-bin/carddisp.pl?gene="+snp.gene;
                                    snp['url_snp']  = "https://www.ncbi.nlm.nih.gov/snp/"+snp.snp;
                                    return snp;
                                })
                            d.class = data.classe_real
                        })

                        this.view_1 = views
                    },
                    getDescription: function(id){
                        return this.views.filter( d => {
                            if(d.id == id) return d
                        })[0].description
                    },
                    getViewUrl(id, targetUser=null){
                        if(this.user.is_superuser){
                            return 'views/'+id+'/user/'+targetUser+'/complete'
                        } else {
                            return 'views/'+id+'/complete'
                        }
                        
                    }


                },
                async created(){
                    this.view = 0;
                    this.user = userData

                    if(!this.user.is_superuser) this.targetUser = 0

                    const viewsResponse = await session.getRequest('views/')
                    
                    viewsResponse.json()
                        .then( d => {
                            this.views = d.data
                        })
                }
            })

        })
        .catch( error => {
            if(window.location.hostname == ""){
                session.redirect('file:///home/leo/repo/tabler-test/login.html')
            }
            else{
                session.redirect('login.html')
            }
        })


</script>


<script type="text/x-template" id="page-content">
    <h1>
        Bem-vindo Sr. {{user.name}}!
    </h1>
</script>

<script type="text/x-template" id="users-list-template">
    <div class="row row-deck row-cards w-100">
        <div class="col-md-12">
            <div class="row row-deck row-cards">
                <div class="col-3" v-for="(user, i) in users" v-if="user.sample" >
                    <a class="card" v-on:click="getInfoUser(i+1, user)">
                        <div class="card-body">
                            <h2 class="card-title">{{user.sample}}</h2>
                        </div>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</script>

<script type="text/x-template" id="navbar-menu">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav pt-lg-3 d-flex">
            <li class="nav-item">
                <div class="nav-link disabled">
                    <span class="title"><h3>{{user.name}}</h3></span>   
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                  <span class="nav-link-title">
                    Informações Fenotípicas
                  </span>
                </a>
                <div class="dropdown-menu">
                  <div class="dropdown-menu-columns">
                    <div class="dropdown-menu-column">
                        <a class="dropdown-item" v-for="v in views" v-on:click="setView(v.id)">
                            {{v.title}}
                        </a>
                    </div>
                  </div>
                </div>
            </li>
            <li class="nav-item mt-auto">
                <a href="#" class="nav-link" onclick="session.logout()">
                    <span class="nav-link-icon d-md-none d-lg-inline-block text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                            <path d="M7 12h14l-3 -3m0 6l3 -3"></path>
                         </svg>
                    </span>
                    
                    <span class="nav-link-title text-white"><strong>Log out</strong></span>
                </a>
                
            </li>
        </ul>
    </div>
</script>

<script type="text/x-template" id="donut-template">
    <div v-bind:id="idDiv" class="chart-lg"></div>
</script>

<script type="text/x-template" id="voltar-template">
    <a class="card pointer-click" v-on:click="back">
        <div class="card-body"> 
            <h2 class="nav-link">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-narrow-left" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                    <line x1="5" y1="12" x2="9" y2="16"></line>
                    <line x1="5" y1="12" x2="9" y2="8"></line>
                 </svg>
                 Todos Usuários
            </h2>
        </div>
    </a>
</script>


<script type="text/x-template" id="tabela-template">
    <div class="col-md">
        <div class="table-responsive">
            <table class="table table-vcenter">
                <thead>
                    <tr>
                        <th>SNP</th>
                        <th>Gene</th>
                        <th>Alelo Observado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="snp in snps">
                        <td><a :href="snp.url_snp" target="_blank">{{ snp.snp }}</a></td>
                        <td><a :href="snp.url_gene" target="_blank">{{ snp.gene }}</a></td>
                        <td>{{ snp.genotype }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</script>

<script type="text/x-template" id="eyes-view-template">
    <div class="card">
        <div class="card-header align-bottom">
            <div>
                <h1>{{title}}</h1>
                <span class="card-subtitle">{{getDescription(view.id)}}</span>
            </div>   
            
        </div>
        <div class="card-body">
                <div class="row row-deck row-cards">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <donut v-bind:user="user" v-bind:id="view.id" v-bind:target-user="targetUser" v-bind:prediction="prediction" v-if="prediction"></donut>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <tabela v-bind:id="view.id" v-bind:snps="snps"></tabela>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
        </div>
        <div class="card-footer">
            <span class="card-title">Amostra: {{targetUser.sample}}</span>
            <span class="card-title">Classe Real: {{classe_real}}</span>
        </div>
    </div>
</script>
